<html>
    <head>
        {% if title %}
        <title> {{title}} -microblog! Here I am trying to use templates </title>
        {% else %}
        <title> Welcome to some generic microblog! </title>
        {% endif %}
    </head>

    <body>  
        <div>
            Microblog: 
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('request_player') }}">search</a>
        </div>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>
                {{ message }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </body>
</html>